nav {
	margin-bottom: 3em !important;
	background-color: #FFE200;
	color: #FE0011;
	font-family: 'Permanent Marker', cursive;
	font-size: 40px;
}

.tina-left img {
	height: auto;
	width: 45px;
}

.tina-left img {
	height: auto;
	width: 45px;
}

.tina-right img {
	height: 85px;
	width: auto;
}